.show {
    z-index: 100 !important;
    display: block !important;
}

.hide {
    z-index: -1!important;
    display: none!important;
}

#logo {
    max-width: 25% !important;
}

/* .video-container {
    width: 343px;
    height: 454px;
    margin: 0;
    overflow: hidden;
} */

/* .video-container>video {
    width: 100% !important;
    height: auto !important;
    z-index: -1;
} */
.preview{
    overflow: hidden;
}

.videoWrapper {
    width: 343px;
    height: 454px;
    border-radius: 10px;
    overflow: hidden;
}

.videoWrapper video,
.videoWrapper img {
    width: 343px;
    height: 454px;
    object-fit: cover;
}

@supports (-ms-ime-align:auto) {  
    .videoWrapper {
        border-radius: 10px;
        overflow: hidden;
    }
    
    .videoWrapper video {
        top: 0;
        left: 0;
        width: 343px;
        height: 454px;
        -o-object-fit: cover;
        object-fit: cover;
        box-sizing: border-box;
    }
}

/* CSS Slide Animation */
/* .fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 2.4s ease-in-out;
    -o-transition: opacity 2.4s ease-in-out;
    -webkit-transition: opacity 2.4s ease-in-out;
    transition: opacity 2.4s ease-in-out;
} */
.fadeout{
    animation: slide-down 0.8s ease;
    opacity: 0;
}

.fadein {
    animation: slide-up 0.8s ease;
}

@keyframes slide-down {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}